.simple-hero {
  text-align: center;
  margin-bottom: 160px;
  margin-top: 20px;
  padding: 80px 105px;
  background-image: url("../../assets/images/simgple-hero.png");
  background-position: center;
  background-size: cover;
  p {
    max-width: 410px;
    margin: auto;
  }
}
